In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<b>Вычислить вероятность выживания, если пассажиру:</b>


 - от 0 до 25 лет
 - от 25 до 50 лет
 - от 50 лет и старше

In [25]:
first_df = df.query('Age>0 & Age <=25')
#print(first_df)
af = len(first_df)
bf = len (first_df.query('Survived == 1'))
print ('Вероятность выживания от 0 до 25 лет -',(bf/af)*100,'%')
second_df = df.query('Age>25 & Age <=50')
ase = len(second_df)
bse = len (second_df.query('Survived == 1'))
print ('Вероятность выживания от 25 до 50 лет -',(bse/ase)*100,'%')
third_df = df.query('Age>50')
at = len(third_df)
bt = len (third_df.query('Survived == 1'))
print ('Вероятность выживания старше 50 лет -',(bt/at)*100,'%')

Вероятность выживания от 0 до 25 лет - 41.19601328903654 %
Вероятность выживания от 25 до 50 лет - 41.260744985673355 %
Вероятность выживания старше 50 лет - 34.375 %

<b>Вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)</b>

In [32]:
qty = len(df)
female_df = df.query('Sex == "female"')
female_qty = len(female_df)
PA = female_qty/qty
surv_df = df.query('Survived == 1')
surv_qty = len(surv_df)
PB = surv_qty/qty
survfem_qty = len (female_df.query('Survived == 1'))
PBA = survfem_qty/female_qty
PAB = ((PBA * PA)/PB) * 100
print ('Вероятность того, что выживший пассажир - женщина',PAB,'%')

Вероятность того, что выживший пассажир - женщина 68.12865497076022 %