In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import scipy
import scipy.stats

<b>Easy ИСПРАВЛЕННОЕ</b> 

Оценить с помощью доверительных интервалов:
 - выживаемость всех пассажиров (оценить среднее по isSurvived)
 - выживаемость женщин
 - выживаемость людей с каютами первого класса

Ответить на вопросы:
- какой вариант оценки доверительных интервалов нужно использовать в данной задаче и почему?
- какая из ошибок более критична для данной задачи - I или II рода?

In [53]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
all_df = df[['Survived']]
all_df

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [55]:
n=len(all_df)
mean = all_df.mean()
std = all_df.std()
alpha = 0.05

In [56]:
from scipy.stats import t
import math
sc = std/math.sqrt(n)
l = t.interval(1 - alpha, n - 1, loc=mean, scale=sc)
print('Доверительный интервал по выживаемости всех пассажиров - ', l)

Доверительный интервал по выживаемости всех пассажиров -  (array([0.3518446]), array([0.41583217]))

In [57]:
female_df = df[['Survived','Sex']].query('Sex == "female"')
female_df

     Survived     Sex
1           1  female
2           1  female
3           1  female
8           1  female
9           1  female
..        ...     ...
880         1  female
882         0  female
885         0  female
887         1  female
888         0  female

[314 rows x 2 columns]

In [58]:
nf=len(female_df)
meanf = female_df.mean()
stdf = female_df.std()
alpha = 0.05
scf = stdf/math.sqrt(nf)

In [59]:
lff = t.interval(1 - alpha, nf - 1, loc=meanf, scale=scf)
print('Доверительный интервал по выживаемости женщин - ', lff)

Доверительный интервал по выживаемости женщин -  (array([0.69338077]), array([0.79069566]))

In [60]:
class_df = df[['Survived','Pclass']].query('Pclass == 1')
class_df

     Survived  Pclass
1           1       1
3           1       1
6           0       1
11          1       1
23          1       1
..        ...     ...
871         1       1
872         0       1
879         1       1
887         1       1
889         1       1

[216 rows x 2 columns]

In [61]:
nc=len(class_df)
meanc = class_df['Survived'].mean()
stdc = class_df['Survived'].std()
alpha = 0.05
scc = stdc/math.sqrt(nc)
lc = t.interval(1 - alpha, nc - 1, loc=meanc, scale=scc)
print('Доверительный интервал по выживаемости пассажиров 1 класса - ', lc)

Доверительный интервал по выживаемости пассажиров 1 класса -  (0.5647152190969751, 0.6945440401622842)

<b>Ответы на вопросы</b>
1. В данной задаче мы используем вариант, когда настоящая дисперсия неизвестна,  и мы считаем по данным среднеквадратичное отклонение.используем T-распределение Стьюдента, которое похоже на нормальное распределение. 
Используем T-распределение Стьюдента, которое похоже на нормальное распределение.
2. Ошибка I рода - предположить, что пассажир выживет, а на самом деле он не выживет.
Ошибка II рода - предположить, что пассажир не выживет, а он на самом деле выживет.
В данном случае критичнее ошибка I рода, потому что она влияет на оценку общей выживаемости, что является фактором, который мы исследуем.

<b>Normal</b>
 - Проверить гипотезу о том, что женщины выживают чаще мужчин с уровнем значимости 0.05
 - Проверить гипотезу о том, что дети выживают чаще, чем взрослые

𝐻0 : женщины выживают с той же вероятностью, что и мужчины

𝐻1 : женщины выживают чаще, чем мужчины

In [11]:
female_df = df[['Survived','Sex']].query('Sex == "female"')
male_df = df[['Survived','Sex']].query('Sex == "male"')

In [16]:
scipy.stats.ttest_ind(female_df['Survived'], male_df['Survived'])

Ttest_indResult(statistic=19.29781655012335, pvalue=1.4060661308802594e-69)

In [17]:
print ('p-value меньше уровня значимости, значит мы можем отвергнуть нулевую гипотезу')

p-value меньше уровня значимости, значит мы можем отвергнуть нулевую гипотезу

𝐻0 : дети выживают с той же вероятностью, что и взрослые

𝐻1 : дети выживают чаще, чем взрослые

In [18]:
child_df = df[['Survived','Age']].query('Age < 18')
adult_df = df[['Survived','Age']].query('Age >= 18')

In [19]:
scipy.stats.ttest_ind(child_df['Survived'], adult_df['Survived'])

Ttest_indResult(statistic=3.171077486504452, pvalue=0.0015838873450969102)

In [20]:
print ('p-value меньше уровня значимости, значит мы можем отвергнуть нулевую гипотезу')

p-value меньше уровня значимости, значит мы можем отвергнуть нулевую гипотезу