In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import scipy
import scipy.stats

<b>Easy –ò–°–ü–†–ê–í–õ–ï–ù–ù–û–ï</b> 

–û—Ü–µ–Ω–∏—Ç—å —Å –ø–æ–º–æ—â—å—é –¥–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã—Ö –∏–Ω—Ç–µ—Ä–≤–∞–ª–æ–≤:
 - –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç—å –≤—Å–µ—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ (–æ—Ü–µ–Ω–∏—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –ø–æ isSurvived)
 - –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç—å –∂–µ–Ω—â–∏–Ω
 - –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç—å –ª—é–¥–µ–π —Å –∫–∞—é—Ç–∞–º–∏ –ø–µ—Ä–≤–æ–≥–æ –∫–ª–∞—Å—Å–∞

–û—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã:
- –∫–∞–∫–æ–π –≤–∞—Ä–∏–∞–Ω—Ç –æ—Ü–µ–Ω–∫–∏ –¥–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã—Ö –∏–Ω—Ç–µ—Ä–≤–∞–ª–æ–≤ –Ω—É–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤ –¥–∞–Ω–Ω–æ–π –∑–∞–¥–∞—á–µ –∏ –ø–æ—á–µ–º—É?
- –∫–∞–∫–∞—è –∏–∑ –æ—à–∏–±–æ–∫ –±–æ–ª–µ–µ –∫—Ä–∏—Ç–∏—á–Ω–∞ –¥–ª—è –¥–∞–Ω–Ω–æ–π –∑–∞–¥–∞—á–∏ - I –∏–ª–∏ II —Ä–æ–¥–∞?

In [53]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
all_df = df[['Survived']]
all_df

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [55]:
n=len(all_df)
mean = all_df.mean()
std = all_df.std()
alpha = 0.05

In [56]:
from scipy.stats import t
import math
sc = std/math.sqrt(n)
l = t.interval(1 - alpha, n - 1, loc=mean, scale=sc)
print('–î–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –ø–æ –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç–∏ –≤—Å–µ—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ - ', l)

–î–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –ø–æ –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç–∏ –≤—Å–µ—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ -  (array([0.3518446]), array([0.41583217]))

In [57]:
female_df = df[['Survived','Sex']].query('Sex == "female"')
female_df

     Survived     Sex
1           1  female
2           1  female
3           1  female
8           1  female
9           1  female
..        ...     ...
880         1  female
882         0  female
885         0  female
887         1  female
888         0  female

[314 rows x 2 columns]

In [58]:
nf=len(female_df)
meanf = female_df.mean()
stdf = female_df.std()
alpha = 0.05
scf = stdf/math.sqrt(nf)

In [59]:
lff = t.interval(1 - alpha, nf - 1, loc=meanf, scale=scf)
print('–î–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –ø–æ –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç–∏ –∂–µ–Ω—â–∏–Ω - ', lff)

–î–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –ø–æ –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç–∏ –∂–µ–Ω—â–∏–Ω -  (array([0.69338077]), array([0.79069566]))

In [60]:
class_df = df[['Survived','Pclass']].query('Pclass == 1')
class_df

     Survived  Pclass
1           1       1
3           1       1
6           0       1
11          1       1
23          1       1
..        ...     ...
871         1       1
872         0       1
879         1       1
887         1       1
889         1       1

[216 rows x 2 columns]

In [61]:
nc=len(class_df)
meanc = class_df['Survived'].mean()
stdc = class_df['Survived'].std()
alpha = 0.05
scc = stdc/math.sqrt(nc)
lc = t.interval(1 - alpha, nc - 1, loc=meanc, scale=scc)
print('–î–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –ø–æ –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç–∏ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ 1 –∫–ª–∞—Å—Å–∞ - ', lc)

–î–æ–≤–µ—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –ø–æ –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç–∏ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ 1 –∫–ª–∞—Å—Å–∞ -  (0.5647152190969751, 0.6945440401622842)

<b>–û—Ç–≤–µ—Ç—ã –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã</b>
1. –í –¥–∞–Ω–Ω–æ–π –∑–∞–¥–∞—á–µ –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º –≤–∞—Ä–∏–∞–Ω—Ç, –∫–æ–≥–¥–∞ –Ω–∞—Å—Ç–æ—è—â–∞—è –¥–∏—Å–ø–µ—Ä—Å–∏—è –Ω–µ–∏–∑–≤–µ—Å—Ç–Ω–∞,  –∏ –º—ã —Å—á–∏—Ç–∞–µ–º –ø–æ –¥–∞–Ω–Ω—ã–º —Å—Ä–µ–¥–Ω–µ–∫–≤–∞–¥—Ä–∞—Ç–∏—á–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ.–∏—Å–ø–æ–ª—å–∑—É–µ–º T-—Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –°—Ç—å—é–¥–µ–Ω—Ç–∞, –∫–æ—Ç–æ—Ä–æ–µ –ø–æ—Ö–æ–∂–µ –Ω–∞ –Ω–æ—Ä–º–∞–ª—å–Ω–æ–µ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ. 
–ò—Å–ø–æ–ª—å–∑—É–µ–º T-—Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –°—Ç—å—é–¥–µ–Ω—Ç–∞, –∫–æ—Ç–æ—Ä–æ–µ –ø–æ—Ö–æ–∂–µ –Ω–∞ –Ω–æ—Ä–º–∞–ª—å–Ω–æ–µ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ.
2. –û—à–∏–±–∫–∞ I —Ä–æ–¥–∞ - –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç—å, —á—Ç–æ –ø–∞—Å—Å–∞–∂–∏—Ä –≤—ã–∂–∏–≤–µ—Ç, –∞ –Ω–∞ —Å–∞–º–æ–º –¥–µ–ª–µ –æ–Ω –Ω–µ –≤—ã–∂–∏–≤–µ—Ç.
–û—à–∏–±–∫–∞ II —Ä–æ–¥–∞ - –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç—å, —á—Ç–æ –ø–∞—Å—Å–∞–∂–∏—Ä –Ω–µ –≤—ã–∂–∏–≤–µ—Ç, –∞ –æ–Ω –Ω–∞ —Å–∞–º–æ–º –¥–µ–ª–µ –≤—ã–∂–∏–≤–µ—Ç.
–í –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ –∫—Ä–∏—Ç–∏—á–Ω–µ–µ –æ—à–∏–±–∫–∞ I —Ä–æ–¥–∞, –ø–æ—Ç–æ–º—É —á—Ç–æ –æ–Ω–∞ –≤–ª–∏—è–µ—Ç –Ω–∞ –æ—Ü–µ–Ω–∫—É –æ–±—â–µ–π –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç–∏, —á—Ç–æ —è–≤–ª—è–µ—Ç—Å—è —Ñ–∞–∫—Ç–æ—Ä–æ–º, –∫–æ—Ç–æ—Ä—ã–π –º—ã –∏—Å—Å–ª–µ–¥—É–µ–º.

<b>Normal</b>
 - –ü—Ä–æ–≤–µ—Ä–∏—Ç—å –≥–∏–ø–æ—Ç–µ–∑—É –æ —Ç–æ–º, —á—Ç–æ –∂–µ–Ω—â–∏–Ω—ã –≤—ã–∂–∏–≤–∞—é—Ç —á–∞—â–µ –º—É–∂—á–∏–Ω —Å —É—Ä–æ–≤–Ω–µ–º –∑–Ω–∞—á–∏–º–æ—Å—Ç–∏ 0.05
 - –ü—Ä–æ–≤–µ—Ä–∏—Ç—å –≥–∏–ø–æ—Ç–µ–∑—É –æ —Ç–æ–º, —á—Ç–æ –¥–µ—Ç–∏ –≤—ã–∂–∏–≤–∞—é—Ç —á–∞—â–µ, —á–µ–º –≤–∑—Ä–æ—Å–ª—ã–µ

ùêª0 : –∂–µ–Ω—â–∏–Ω—ã –≤—ã–∂–∏–≤–∞—é—Ç —Å —Ç–æ–π –∂–µ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é, —á—Ç–æ –∏ –º—É–∂—á–∏–Ω—ã

ùêª1 : –∂–µ–Ω—â–∏–Ω—ã –≤—ã–∂–∏–≤–∞—é—Ç —á–∞—â–µ, —á–µ–º –º—É–∂—á–∏–Ω—ã

In [11]:
female_df = df[['Survived','Sex']].query('Sex == "female"')
male_df = df[['Survived','Sex']].query('Sex == "male"')

In [16]:
scipy.stats.ttest_ind(female_df['Survived'], male_df['Survived'])

Ttest_indResult(statistic=19.29781655012335, pvalue=1.4060661308802594e-69)

In [17]:
print ('p-value –º–µ–Ω—å—à–µ —É—Ä–æ–≤–Ω—è –∑–Ω–∞—á–∏–º–æ—Å—Ç–∏, –∑–Ω–∞—á–∏—Ç –º—ã –º–æ–∂–µ–º –æ—Ç–≤–µ—Ä–≥–Ω—É—Ç—å –Ω—É–ª–µ–≤—É—é –≥–∏–ø–æ—Ç–µ–∑—É')

p-value –º–µ–Ω—å—à–µ —É—Ä–æ–≤–Ω—è –∑–Ω–∞—á–∏–º–æ—Å—Ç–∏, –∑–Ω–∞—á–∏—Ç –º—ã –º–æ–∂–µ–º –æ—Ç–≤–µ—Ä–≥–Ω—É—Ç—å –Ω—É–ª–µ–≤—É—é –≥–∏–ø–æ—Ç–µ–∑—É

ùêª0 : –¥–µ—Ç–∏ –≤—ã–∂–∏–≤–∞—é—Ç —Å —Ç–æ–π –∂–µ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é, —á—Ç–æ –∏ –≤–∑—Ä–æ—Å–ª—ã–µ

ùêª1 : –¥–µ—Ç–∏ –≤—ã–∂–∏–≤–∞—é—Ç —á–∞—â–µ, —á–µ–º –≤–∑—Ä–æ—Å–ª—ã–µ

In [18]:
child_df = df[['Survived','Age']].query('Age < 18')
adult_df = df[['Survived','Age']].query('Age >= 18')

In [19]:
scipy.stats.ttest_ind(child_df['Survived'], adult_df['Survived'])

Ttest_indResult(statistic=3.171077486504452, pvalue=0.0015838873450969102)

In [20]:
print ('p-value –º–µ–Ω—å—à–µ —É—Ä–æ–≤–Ω—è –∑–Ω–∞—á–∏–º–æ—Å—Ç–∏, –∑–Ω–∞—á–∏—Ç –º—ã –º–æ–∂–µ–º –æ—Ç–≤–µ—Ä–≥–Ω—É—Ç—å –Ω—É–ª–µ–≤—É—é –≥–∏–ø–æ—Ç–µ–∑—É')

p-value –º–µ–Ω—å—à–µ —É—Ä–æ–≤–Ω—è –∑–Ω–∞—á–∏–º–æ—Å—Ç–∏, –∑–Ω–∞—á–∏—Ç –º—ã –º–æ–∂–µ–º –æ—Ç–≤–µ—Ä–≥–Ω—É—Ç—å –Ω—É–ª–µ–≤—É—é –≥–∏–ø–æ—Ç–µ–∑—É