In [1]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<b>Easy</b>
Для данных с Титаника обучить модели логистической регресси и решающего дерева на 80% обучающей выборки и проверить результат на 20%. У какой модели результат лучше?

In [3]:
x_df = df[['Pclass','Sex','Age']]
median_age = x_df['Age'].median()
#print("Median age is {}".format(median_age))
x_df.loc[x_df['Sex'] == "female", 'Sex'] = 1
x_df.loc[x_df['Sex'] == "male", 'Sex'] = 0
x_df.fillna(median_age, inplace=True)
x_df.head()
print(x_df)

     Pclass  Sex   Age
0         3    0  22.0
1         1    1  38.0
2         3    1  26.0
3         1    1  35.0
4         3    0  35.0
..      ...  ...   ...
886       2    0  27.0
887       1    1  19.0
888       3    1  28.0
889       1    0  26.0
890       3    0  32.0

[891 rows x 3 columns]

C:\Users\Maria\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Maria\anaconda3\lib\site-packages\pandas\core\frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [4]:
y_df = df[['Survived']]
y_df.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, train_size=0.8)
x_train.shape, x_test.shape

((712, 3), (179, 3))

In [9]:
from sklearn.metrics import accuracy_score, confusion_matrix
model1 = LogisticRegression(max_iter=1000)
model1.fit(x_train, y_train)
y1_pred = model1.predict(x_test)
result1 = accuracy_score(y1_pred, y_test)
print(result1)

0.776536312849162

C:\Users\Maria\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [17]:
model2 = DecisionTreeClassifier(max_depth=15)
model2.fit(x_train, y_train)
y2_pred = model2.predict(x_test)
result2 = accuracy_score(y2_pred, y_test)
print(result2)

0.7877094972067039

In [18]:
if result1 > result2:
    print ('У модели логистической регрессии результат лучше')
else:
    print ('У модели решающего дерева результат лучше')

У модели решающего дерева результат лучше

<b>Normal ИСПРАВЛЕННОЕ</b>
Используя кросс-валидацию, применить к данным Титаника модель RandomForestClassifier. Сравнить с первыми двумя моделями.

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [20]:
model3 = RandomForestClassifier(n_estimators=10000)
model3.fit(x_train, y_train)
y3_pred = model3.predict(x_test)

<ipython-input-20-c93ae7fc3891>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model3.fit(x_train, y_train)

In [21]:
cross_val1 = cross_val_score(model1, x_train, y_train.values.ravel())
result_cross1 = cross_val1.mean()
cross_val2 = cross_val_score(model2, x_train, y_train.values.ravel())
result_cross2 = cross_val2.mean()

In [22]:
cross_val3 = cross_val_score(model3, x_train, y_train.values.ravel())
result_cross3 = cross_val3.mean()

In [24]:
print('Кросс-валидация LogisticRegression:',cross_val1)
print('Среднее по кросс-валидации LogisticRegression:', result_cross1)

print('Кросс-валидация DecisionTreeClassifier:',cross_val2)
print('Среднее по кросс-валидации DecisionTreeClassifier:', result_cross2)

print('Кросс-валидация RandomForest:',cross_val3)
print('Среднее по кросс-валидации RandomForest:', result_cross3)

Кросс-валидация LogisticRegression: [0.78321678 0.81818182 0.76760563 0.81690141 0.81690141]
Среднее по кросс-валидации LogisticRegression: 0.8005614104205654
Кросс-валидация DecisionTreeClassifier: [0.7972028  0.81818182 0.8028169  0.71830986 0.77464789]
Среднее по кросс-валидации DecisionTreeClassifier: 0.7822318526543878
Кросс-валидация RandomForest: [0.8041958  0.82517483 0.80985915 0.76056338 0.80985915]
Среднее по кросс-валидации RandomForest: 0.8019304639022948

In [26]:
list = (result_cross1, result_cross2, result_cross3)
m = max(list)
if m == result_cross1:
    print ('У модели логистической регрессии результат лучше ', result_cross1)
else:
    if m == result_cross2:
        print ('У модели решающего дерева результат лучше ', result_cross2)
    else:
        print('У модели случайного леса результат лучше ', result_cross3)

У модели случайного леса результат лучше  0.8019304639022948